#map{
  height: calc(100vh - 75px);
}
* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

body, html {
  overflow: hidden;
  font-family: 'Open Sans', san-sserif;
  color: black;
  background-color: #999;
  text-align: center;
  margin: 0;
  padding: 0;
}

#header {
  height: 75px;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.9);
  color: #f9f9f9;
  text-align: left;
}

#header h1 {
  margin: 0;
  padding: 0;
}
#year-select{
  width: 250px;
  font-size: 20px;
}
#year-span{
  color: #f9f9f9;
  font-size: 20px;
}
#year-container{
  position: absolute;
  width: 275px;
  right: calc(50% - 137px);
  bottom: 0;
  z-index: 9999;
  font-size: 20px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #f9f9f9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f9f9f9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
#satellite-checkbox{
  color: #f9f9f9;
  top: 82px;
  right: 10px;
  z-index: 9999;
}
.hurricane-info{
  text-align: center;
}
#list-container{
  padding: 5px 10px;
  position: absolute;
  top: 175px;
  left: 0;
  z-index: 999;
  color: white;
  text-align: left;
  font-size: 10pt;
  overflow-y: scroll;
  max-height: 50vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#options-container{
  padding: 5px 10px 5px 30px;
  right: -142px;
  transition: all .75s ease;
}

.options-thing{
  padding: 5px 10px 5px 15px;
  top: 85px;
  position: absolute;
  z-index: 999;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
  overflow-y: scroll;
  font-size: 10pt;
  text-align: right;
  color: white;
}

#options-container.show{
  padding: 5px 10px 5px 15px;
  right: 0;
}

.options-header{
  font-size: 12pt;
  text-align: center;
}
#list > ul{
  list-style: none;
  padding: 0;
  margin:0;
}
.square {
  float: left;
  width: 8px;
  height: 8px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
.github{
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 30px;
  color: #f9f9f9;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-top: 20px;
  padding: 5px 0;
  font-size: 12px;

  /* Position the tooltip */
  top: -5px;
  right: 105%;
  position: absolute;
  z-index: 9999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.expand-icon{
  position: absolute;
  top: 119px;
  right: 144px;
}
#expand-options{
  right: 152px;
  transition: all 1.25s ease;
}
#expand-options.show{
  right: 144px;
}